---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import FormattedDate from "../components/FormattedDate.astro";
const iconSize = 24;

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const post = posts[0];

const projects = (await getCollection("projects")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const project = projects[0];
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Hey !</h1>
      <p>
        How are you today ? I honestly didn't know what to put here. in the
        meantime you can check out my blogs though ! you can even check my
        projects.
      </p>
      <p>
        you can check my blogs <a href="/blog">here</a> and my projects <a
          href="/projects">here</a
        > !
      </p>
      <p>
        if you want to know me better or you have something to say, check out my <a
          href="/about">about page</a
        > !
      </p>
      <p>sorry if the website looks a bit incomplete. I'm working on it !</p>
      <h3>Latest Blog :</h3>
      {
        (
          <a href={`/blog/${post.id}/`}>
            {post.data.heroImage && (
              <Image
                width={720}
                height={360}
                src={post.data.heroImage}
                alt=""
              />
            )}
            <h4 class="title">{post.data.title}</h4>
            <p class="date">
              <FormattedDate date={post.data.pubDate} />
            </p>
          </a>
        )
      }
      <h3>Latest Project :</h3>
      {
        (
          <a href={`/project/${project.id}/`}>
            {project.data.heroImage && (
              <Image
                width={720}
                height={360}
                src={project.data.heroImage}
                alt=""
              />
            )}
            <h4 class="title">{project.data.title}</h4>
            <p class="date">
              <FormattedDate date={project.data.pubDate} />
            </p>
          </a>
        )
      }
    </main>
    <Footer />
  </body>
</html>
